.listContainer {
    margin-bottom: 10px;

    .card {
        background-color: $linen;
    }

    .card:hover {
        -webkit-box-shadow: $water 0px 0 20px;
        -moz-box-shadow: $water 0 0 20px;
        box-shadow: $water 0 0 20px;
    }

    h4 {
        color: $water;
    }

    small {
        color: $water;
    }
}

hr {
    margin: 0;
}

.form-control:focus {
    border-color: $water;
    box-shadow: 0 0 0 0.2rem rgba(136, 187, 214, .25);
}