.modal-button {
    background-color: rgba(0, 0, 0, 0);
}

.modal-button:hover {
    border: 2px solid $water;
}

.modal-button:focus {
    box-shadow: none;
}

.modal-title {
    color: $water;
}

.modal-body {
    p {
        color: $water;
    }
}

.interview-notes {
    color: black !important;
}