.modal-button {
    background-color: rgba(0, 0, 0, 0);
}

.modal-button:hover {
    border: 2px solid $water;
}

.modal-button:focus {
    box-shadow: none;
}

.modal-title {
    color: $water;

    @media screen and (min-width: 992px) {
        padding-left: 1.5em;
    }
}

.modal-body {
    p {
        color: $water;
    }

    @media screen and (min-width: 992px) {
        padding-left: 3.5em;
        padding-right: 3.5em;
    }
}