nav {
    background-color: $ice;
    color: white;

    button {
        background-color: $water;
        color: white;
        float: right;
    }

    button:hover {
        background-color: whitesmoke;
        color: $water;
    }
}