@import "palette";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
    font-size: 100%;
}

.hide {
    display: none;
}

@import "nav";
@import "list";
@import "info";
@import "modal";